#footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    .container {
    
            @media screen and (min-width: 768px) {
                // display: flex;
                align-items: baseline;
    
            }
    
            @media screen and (min-width: 1200px) {
                display: flex;
                align-items: baseline;
    
            }
        }
}
.footerf-felx {
    // display: flex;
    margin-bottom: 60px;


    @media screen and (min-width: 768px) {
        display: flex;
        margin-bottom: 60px;
        padding-left: 76px;
        padding-right: 89px;
        justify-content: space-between;

        // margin: 0 auto;
        // align-items: baseline;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: unset;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 93px;



    }

}
.address__link {
    margin-bottom: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    font-size: 14px;
    letter-spacing: 0.03em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link--grey {
    
    color: var(--text-color-adrress-op60);
    &:hover,
    &:focus {
            color: var(--brand-color);
        }
}

.address__link--white {
    color: var(--background-color);
}

.footer__address { 
    margin-bottom: 9px;
    text-align: center;
    &:last-child {
            margin-bottom: 0px;
        }
    
        @media screen and (min-width: 1200px) {
            text-align: left;
        }
}


/*.address__link--grey:hover,
.address__link--grey:focus {
    color: var(--brand-color);
}*/



.logo__footer {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    color: var(--background-color);
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        
    @media screen and (min-width: 1200px) {
            display: unset;
        }
}

.logo__footer--brand {
    color: var(--brand-color);
}
.contacts-list-footer {
    display: block;
    // margin-bottom: 60px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0px;


    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 0px;
    }
}

.footer__left {
    /*display: inline-block;
    margin-right: 70px;*/
    margin-bottom: 60px;
    
    
        @media screen and (min-width: 768px) {
            // margin-right: 70px;
            margin-bottom: 0px;
    
        }
    
        @media screen and (min-width: 1200px) {
            margin-right: 70px;
    
        }
}

.join {
    
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    height: auto;

    @media screen and (min-width: 1200px) {
            text-align: left;
        }
}
.join-subscribe {
    
        margin-bottom: 20px;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
        
    
        @media screen and (min-width: 1200px) {
            text-align: left;
        }
}



.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
            margin-bottom: 0px;
            // display: flex;
            // align-items: center;
            // justify-content: center;
     }
    @media screen and (min-width: 1200px) {
            margin-bottom: 0px;
            display: flex;
    }
}

.footer__social--link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:last-child {
            margin-right: 0;
        };
    &:hover {
        background-color: var(--brand-color);
    };
    &:focus {
        background-color: var(--brand-color);
    };
}

/*.footer__social--link:last-child {
    margin-right: 0;
}

.footer__social--link:hover,
.footer__social--link:focus {
    background-color: var(--brand-color);
}*/
.footer-flex {

    margin-bottom: 60px;
    
    
        @media screen and (min-width: 768px) {
            display: flex;
            margin-bottom: 0px;
            padding-left: 76px;
            padding-right: 89px;
            justify-content: space-between;
    
            // margin: 0 auto;
            // align-items: baseline;
        }
    
        @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: unset;
            padding-left: 0px;
            padding-right: 0px;
            margin-right: 93px;
    
    
    
        }

}
.footer__social--right {
    width: 44px;
        height: 44px;
        margin-right: 10px;
    
        &:last-child {
            margin-right: 0px;
        }
}

.footer__social--icon {
    fill: currentColor;
}

.footer__right {
    /*display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 570px;*/
    @media screen and (min-width: 768px) {
            // margin: 0 auto;
        }
    
    @media screen and (min-width: 1200px) {
            margin-left: 0px;
    
    
        }
}


.footer__form {
    margin-right: auto;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    @media screen and (min-width: 1200px) {
        margin-right: auto;
        align-items: left;
        display: unset;
        flex-direction: unset;

    }

}




.newsletter-input {
    
    color: var(--background-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    height: 50px;
    width: 100%;
    border-radius: 4px;
    padding-left: 10px;
    margin-bottom: 20px;
    background-color: inherit;
    color: #fff;
    outline: none;
    

    @media screen and (min-width: 768px) {
            width: 450px;
        }
    
    
    
        @media screen and (min-width: 1200px) {
            margin-bottom: 0px;
            width: 358px
        }
}

.newsletter input:placeholder-shown {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}


.newsletter-container {

    @media screen and (min-width: 768px) {
            // display: flex;
            // telegram-down
        }
    
        @media screen and (min-width: 1200px) {
            display: flex;
        }
   
}

.newsletter-submit {
    width: 200px;
        height: 50px;
        background: #2196F3;
        border-radius: 4px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.06em;
        border: none;
        color: #FFFFFF;
        transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        // margin-left: 12px;
    
        margin: 0 auto;
    
        @media screen and (min-width: 768px) {
            margin-left: 12px;
            margin: 0 auto;
        }
    
        @media screen and (min-width: 1200px) {
            margin-left: 12px;
        }
    
        &:focus,
        &:hover {
            background-color: #FFFFFF;
            color: var(--accent-color);
        }
    
        &:focus .footer-btn,
        &:hover .footer-btn {
            fill: var(--accent-color);
        }
}

.newsletter-container>.newsletter-submit {
    padding: 10px 64px 10px 29px;
}

.footer-btn {
    margin-left: 10px;
        fill: #FFFFFF;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


