.header {
    /*padding-top: 24px;
        padding-bottom: 25px;*/
    border-bottom: 1px solid #ececec;
}

.contacts-container {
    margin-left: auto;
}
.icon-contacts {
    display: flex;
    fill: currentColor;
    margin-right: 10px;

}