.main-banner {
    background-color: var(--header-background-color);
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/background/mob-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    
        padding-bottom: 118px;
        padding-top: 118px;
        max-width: 1600px;
        margin: 0 auto;
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/background/mob-bg2x.jpg);
        }
    
        @media screen and (min-width: 768px) {
            padding-top: 118px;
            padding-bottom: 118px;
            background-color: var(--header-background-color);
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/background/tab-bg.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../images/background/tab-bg2x.jpg);
            }
        }
    
        @media screen and (min-width: 1200px) {
            padding-bottom: 200px;
            padding-top: 200px;
            background-color: var(--header-background-color);
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/background/Background.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
}

.banner {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.banner-slogan {
    margin-bottom: 30px;
    max-width: 360px;
    margin-top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--background-color);
    @media screen and (min-width: 1200px) {
            max-width: 696px;
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
        }
}