.team {
    background-color: #f5f4fa;
}

.team__item {
    display: block;
    margin-right: 30px;
    width: 270px;
    height: auto;
    background-color: var(--background-color);


    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:nth-child(4n) {
            margin-right: 0;
        };
}

/*.team__item:nth-child(4n) {
    margin-right: 0;
}*/

.team__meta {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
}

.team__meta--name {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--text-color-primary);

}

.team__meta--profession {
    margin-bottom: 16px;
    margin-top: 10px;

    color: var(--text-color-secondary);
    font-weight: 400;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;

}

.list {
    padding: 0;
    margin: 0;
    list-style: none;

}
.team-sl-list {
    display: flex;
    justify-content: center;

    align-items: center;
}





.team h2 {
    color: var(--text-color-primary);
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    text-align: center;
}