button {
    cursor: pointer;
    border: none;
}

.button {
    display: inline-block;

}


.btn-index {
    display: inline-block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    min-height: 50px;


    background-color: var(--brand-color);
    color: var(--background-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    &:hover {
            background-color: #ffffff;
            color: var(--text-color-primary);
        };

    &:focus {
            background-color: #ffffff;
            color: var(--text-color-primary);
        };

}
/*
.btn-index:hover,
.btn-index:focus {
    background-color: #ffffff;
    color: var(--text-color-primary);
}*/