body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color-primary);
}
/*.flex {
    display: flex;
 }*/
.main-banner,
.contacts-container {
    display: flex;
    align-items: center;
}

/*.advantages,
.whatwedo-container,
.team-list,
.client-set {
    display: flex;
    justify-content: space-between;
}*/
/*.wrapper {
    max-width: 1600px;
}*/


.section__title {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
}

.section-gap,
.examples {
    padding-top: var(--set-gap94);
    padding-bottom: var(--set-gap94);
}

.whatwedo h2,
.team h2,
.clients h2 {
    color: var(--text-color-primary);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    /*margin-bottom: 50px;*/
}

/*.whatwedo,
.team,
.portfolio,
.clients {
    padding-bottom: var(--set-gap94);
}

.section {
    padding-top: var(--set-gap94);
}*/

