:root {
    --background-color: #ffffff;
    --brand-color: #2196F3;
    --text-color-primary: #212121;
    --text-color-secondary: #757575;
    --text-color-adrress-op60: rgba(255, 255, 255, 0.6);
    --clients-color: #AFB1B8;
    --set-gap30: 30px;
    --set-gap94: 94px;
}